<form asp-controller="Produtos" asp-action="BuscarCategoria" method="post">
        <label for="Categoria">Categoria</label>
        <input type="text" name="Categoria" id="Categoria"/>
        <input type="submit" value="BuscarCategoria">

</form>
