@model IEnumerable<supermercadoMVC.Models.Produto>

<div class="container-fluid">
	<div class="row">
		<h1>@ViewBag.CategoriaEscolhida</h1>
    @{
        foreach (var produto in Model)
        {         
			<partial name="_ProdutosResumo" for="@produto" />
		}
        }
    }
	</div>
</div>

